---
layout: layouts/base.liquid
---
<link rel="stylesheet" type="text/css" href="/css/prism-diff.css?v=1" />
<article class="post">
    {% if thumbnail %}
        <img class="post-thumbnail" src="{{ thumbnail }}" alt="">
    {% endif %}
    <div class="post-content">
        <h1 class="post-title">{{ title }}</h1>
        <div class="post-tags">
            {% for tag in tags %}
                <a class="post-tag">{{ tag | downcase }}</a>
            {% endfor %}
        </div>
        {% assign toc = content | toc %}
        {% if toc.size > 0 %}
            <div class="toc-container">
                <h2>Table of Contents</h2>
                {{ toc }}
            </div>
        {% endif %}
        {{ content }}
    </div>
</article>
