---
layout: layouts/base.liquid
---
<article class="page">
    {% if thumbnail %}
        {% assign thumbnailRelativePath = "../img/" | append: thumbnail %}
        {% image thumbnailRelativePath "" "post-thumbnail" %}
		<meta property="og:image" content={{thumbnailRelativePath}} />
    {% endif %}
    <div class="page-content">
        <h1 class="post-title">{{ title }}</h1>
        <div class="post-tags">
            {% for tag in tags %}
                {% if tag == "posts" %}
                    {% continue %}
                {% endif %}
                <a class="post-tag">{{ tag | downcase }}</a>
            {% endfor %}
        </div>
        {% assign toc = content | toc %}
        {% if toc.size > 0 %}
            <div class="toc-container">
                <h2>Table of Contents</h2>
                {{ toc }}
            </div>
        {% endif %}
        {{ content }}
    </div>
</article>
